html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body,
*:hover {
  box-sizing: border-box;
  cursor: url("../imgs/red-cursor.png"), auto; }

@keyframes flicker {
  0% {
    opacity: 100%; }
  10% {
    opacity: 0; }
  20% {
    opacity: 100%; }
  30% {
    opacity: 0; }
  40% {
    opacity: 100%; }
  50% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes flicker-cont {
  1% {
    opacity: 100%; }
  4% {
    opacity: 0; }
  6% {
    opacity: 100%; }
  8% {
    opacity: 0; }
  10% {
    opacity: 100%; }
  12% {
    opacity: 0; }
  24% {
    opacity: 100%; } }

@font-face {
  font-family: mainFont;
  src: url(../fonts/StudioGrotesk-Light.otf); }

body {
  font-family: mainFont; }

#follow {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 8px; }

.follow-img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("../imgs/master.png");
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-position: center;
  background-size: cover; }

.follow-text {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 20%; }
  .follow-text-x {
    color: white;
    position: absolute;
    font-size: 3rem;
    top: 2rem;
    right: 3rem; }
    .follow-text-x-link {
      text-decoration: none;
      color: white; }
  .follow-text-cont {
    text-align: center;
    margin: auto; }
  .follow-text-error {
    visibility: hidden; }
  .follow-text-form {
    font-size: 2rem !important; }
  .follow-text-marbo {
    margin-bottom: 3rem;
    visibility: hidden; }
  .follow-text-btn {
    border: 1px solid white;
    border-radius: 3rem;
    margin: 1rem;
    font-size: 2.5rem;
    color: white; }
    .follow-text-btn:hover {
      color: white; }
  .follow-text-link {
    text-decoration: none;
    color: white; }
    .follow-text-link:hover {
      color: white; }

#home {
  height: 100vh;
  width: 100vw;
  background-color: black; }

.video {
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%; }

.home-link {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 2; }
  .home-link-text {
    text-decoration: none;
    font-size: 2.5rem;
    color: #ea0404; }
    .home-link-text:hover {
      color: inherit;
      cursor: url(); }
