@keyframes flicker {
  0% {
    opacity: 100%; }
  10% {
    opacity: 0; }
  20% {
    opacity: 100%; }
  30% {
    opacity: 0; }
  40% {
    opacity: 100%; }
  50% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes flicker-cont {
  1% {
    opacity: 100%; }
  4% {
    opacity: 0; }
  6% {
    opacity: 100%; }
  8% {
    opacity: 0; }
  10% {
    opacity: 100%; }
  12% {
    opacity: 0; }
  24% {
    opacity: 100%; } }

body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh;
  font-family: bodyFont; }

p {
  font-family: bodyFontLight; }

h1, h2, h3, h4, h5, h6 {
  font-family: headFont; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body,
*:hover {
  box-sizing: border-box;
  scroll-behavior: smooth; }

@font-face {
  font-family: 'bodyFontLight';
  src: url(../fonts/Inter-ExtraLight.ttf); }

@font-face {
  font-family: 'bodyFontMed';
  src: url(../fonts/Inter-Regular.ttf); }

@font-face {
  font-family: 'headFont';
  src: url(../fonts/PixeloidMono.ttf); }

.text-orange {
  color: #FC6935; }

.text-white {
  color: #fff; }

.text-red {
  color: #FF0000; }

.text-caps {
  text-transform: uppercase; }

.text-size-normal {
  font-size: 1rem; }

.text-size-med {
  font-size: 5rem; }

.text-size-large {
  font-size: 6.5rem; }

.text-body-light {
  font-family: 'bodyFontLight'; }

.text-body-med {
  font-family: 'bodyFontMed'; }

.text-head {
  font-family: "headFont"; }

.text-padding-sm {
  padding-top: .5rem; }

.text-padding-lg {
  padding-top: 1.2rem; }

#follow {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 8px;
  display: none; }

.follow-img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("../imgs/master.jpeg");
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-position: center;
  background-size: cover; }

.follow-response {
  color: red !important; }

.follow-text {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 20%; }
  .follow-text-cont {
    text-align: center;
    margin: auto; }
  .follow-text-error {
    visibility: hidden; }
  .follow-text-form {
    font-size: 2rem !important; }
  .follow-text-marbo {
    margin-bottom: 5rem; }
  .follow-text-form {
    visibility: visible; }
  .follow-text-btn {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: white;
    border-color: white;
    font-size: 2.5rem; }
    .follow-text-btn:hover {
      border: none; }
  .follow-text-input {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: black;
    border-color: white;
    font-size: 1.5rem; }
    .follow-text-input:hover {
      border: none; }
  .follow-text-link {
    text-decoration: none;
    color: white; }
    .follow-text-link:hover {
      text-decoration: none;
      color: white; }

@media (max-width: 767px) {
  .follow-text-marbo {
    margin-bottom: 2rem; }
  .follow-text-btn-subscribe {
    font-size: 2rem; } }

#content {
  display: none; }

#home {
  height: 100vh;
  width: 100vw;
  display: block;
  margin-bottom: .5rem; }

.home-video {
  position: absolute;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%; }

.home-link {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }
  .home-link-text {
    text-decoration: none; }
    .home-link-text:hover {
      cursor: pointer; }

@media (max-width: 767px) {
  .home-link-text {
    font-size: 2rem; }
  .home-shop-btn {
    font-size: 2rem; } }

#coming-soon {
  display: block;
  background-color: black; }

.coming-soon {
  height: 100%;
  width: 100%;
  background-color: black;
  display: none; }
  .coming-soon-password {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .coming-soon-password-submit {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: white;
    border-color: white;
    font-size: 1.5rem; }
    .coming-soon-password-submit:hover {
      border: none; }
  .coming-soon-text {
    color: #FC6935;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 5rem;
    animation: flicker-cont 3s infinite; }
  .coming-soon-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%); }
  .coming-soon-marbo {
    margin-bottom: 7rem; }
  .coming-soon-links {
    margin-top: 5rem;
    display: none; }

@media (max-width: 767px) {
  .coming-soon-links {
    display: none; }
  .coming-soon-text {
    font-size: 1rem; } }

.cs-inline {
  display: inline; }

#shop {
  display: none; }

.shop-container {
  width: 100vw;
  height: 100vh;
  margin-top: 2rem; }

.shop-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.shop-content {
  text-align: center;
  font-size: 1rem;
  color: #FF0000; }

.shop-text {
  padding: 0 5%;
  line-height: 2.5;
  letter-spacing: .2rem; }

@media (max-width: 767px) {
  .shop-text {
    line-height: 1.4;
    font-size: 1.8rem; }
  .shop-product {
    padding: 0 15%; } }

.document-center {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home-video {
  width: 100%;
  height: 100vh;
  background-color: black; }

.carousel-container {
  width: 80%;
  height: 85%; }

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carousel-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.left-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
  padding-bottom: 20px; }

.left-arrow:hover {
  background-color: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }

.right-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  right: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
  padding-bottom: 20px; }

.right-arrow:hover {
  background-color: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }

.chevron {
  width: 15px;
  height: 15px;
  border: solid #FF0000;
  border-width: 2px 2px 0 0; }

.chevron.right {
  transform: rotate(45deg); }

.chevron.left {
  transform: rotate(-135deg); }

.left-arrow:hover .chevron,
.right-arrow:hover .chevron {
  border-color: pink; }

.circle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px; }

.circle {
  border: 1px solid red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer; }

.circle-fill {
  background-color: red; }

@keyframes toRight {
  0% {
    left: 0; }
  100% {
    left: 100%; } }

@keyframes toLeft {
  0% {
    left: 0; }
  100% {
    left: -100%; } }

@keyframes comeRight {
  0% {
    left: 100%; }
  100% {
    left: 0; } }

@keyframes comeLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

.carousel-vinyl {
  background-image: url("/imgs/rainbow-boy-background.png");
  background-position: center;
  background-size: cover; }
  .carousel-vinyl-img {
    height: 28rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .carousel-vinyl-text-right {
    width: 18rem;
    position: absolute;
    right: 8rem;
    top: 55%;
    transform: translateY(-50%); }
  .carousel-vinyl-lp01 {
    position: absolute;
    left: 12rem;
    top: 8rem; }
  .carousel-vinyl-rb {
    position: absolute;
    left: 12rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; }
  .carousel-vinyl-btn {
    position: absolute;
    left: 12rem;
    bottom: 5rem; }

@media (max-width: 600px) {
  .carousel-vinyl-img {
    height: 40%;
    top: 1rem;
    transform: translateY(0) translateX(-50%); }
  .carousel-vinyl-rb {
    font-size: 3.5rem;
    left: 10px;
    bottom: 5rem; }
  .carousel-vinyl-lp01, .carousel-vinyl-hide-text {
    display: none; } }

.carousel-mixtape {
  background-image: url("/imgs/mixtape-coming-soon.png");
  background-position: center;
  background-size: cover; }
  .carousel-mixtape-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.carousel-links {
  background-image: url("/imgs/billy-coming-soon.png");
  background-position: center;
  background-size: cover; }
  .carousel-links-container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: space-evenly; }
  .carousel-links-btn {
    text-align: center;
    border: 1px #FF0000 solid;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px; }
  .carousel-links-text {
    text-decoration: none; }

@media (max-width: 600px) {
  .carousel-links-container {
    flex-direction: column; }
  .carousel-links-btn {
    margin: 10px 0; } }
