@keyframes flicker {
  0% {
    opacity: 100%; }
  10% {
    opacity: 0; }
  20% {
    opacity: 100%; }
  30% {
    opacity: 0; }
  40% {
    opacity: 100%; }
  50% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes flicker-cont {
  1% {
    opacity: 100%; }
  4% {
    opacity: 0; }
  6% {
    opacity: 100%; }
  8% {
    opacity: 0; }
  10% {
    opacity: 100%; }
  12% {
    opacity: 0; }
  24% {
    opacity: 100%; } }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body,
*:hover {
  box-sizing: border-box;
  cursor: url("../imgs/red-cursor.png"), auto;
  font-family: mainFont; }

@font-face {
  font-family: mainFont;
  src: url(../fonts/StudioGrotesk-Light.otf); }

#follow {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 8px; }

.follow-img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("../imgs/master.png");
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-position: center;
  background-size: cover; }

.follow-response {
  color: red !important; }

.follow-text {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 20%; }
  .follow-text-cont {
    text-align: center;
    margin: auto; }
  .follow-text-error {
    visibility: hidden; }
  .follow-text-form {
    font-size: 2rem !important; }
  .follow-text-marbo {
    margin-bottom: 5rem; }
  .follow-text-form {
    visibility: visible; }
  .follow-text-btn {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: white;
    border-color: white;
    font-size: 2.5rem; }
    .follow-text-btn:hover {
      border: none; }
  .follow-text-input {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: black;
    border-color: white;
    font-size: 1.5rem; }
    .follow-text-input:hover {
      border: none; }
  .follow-text-link {
    text-decoration: none;
    color: white; }
    .follow-text-link:hover {
      text-decoration: none;
      color: white; }

@media (max-width: 767px) {
  .follow-text-marbo {
    margin-bottom: 2rem; }
  .follow-text-btn-subscribe {
    font-size: 2rem; } }

.content {
  display: none; }

#home {
  height: 100vh;
  width: 100vw;
  background-color: black; }

.home-video {
  position: absolute;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%; }

.home-link {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 2; }
  .home-link-text {
    text-decoration: none;
    font-size: 3rem;
    color: #ea0404; }
    .home-link-text:hover {
      color: inherit;
      cursor: url(); }

.home-shop {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  color: #ea0404; }
  .home-shop-btn {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: #ea0404;
    font-size: 2.5rem; }
    .home-shop-btn:hover {
      border: none; }
    .home-shop-btn:hover {
      border: 1px solid;
      border-radius: 3rem;
      margin: 1rem;
      display: inline !important;
      margin: 1rem !important;
      color: white; }
      .home-shop-btn:hover:hover {
        border: none; }

@media (max-width: 767px) {
  .home-link-text {
    font-size: 2rem; }
  .home-shop-btn {
    font-size: 2rem; } }

body {
  background-color: black; }

.coming-soon {
  height: 100%;
  width: 100%;
  background-color: black;
  visibility: visible; }
  .coming-soon-password {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .coming-soon-password-submit {
    border: 1px solid;
    border-radius: 3rem;
    margin: 1rem;
    display: inline !important;
    margin: 1rem !important;
    color: white;
    border-color: white;
    font-size: 1.5rem; }
    .coming-soon-password-submit:hover {
      border: none; }
  .coming-soon-text {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 5rem;
    animation: flicker-cont 3s infinite; }
  .coming-soon-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%); }
  .coming-soon-marbo {
    margin-bottom: 7rem; }
  .coming-soon-links {
    margin-top: 5rem;
    display: none; }

@media (max-width: 767px) {
  .coming-soon-links {
    display: none; }
  .coming-soon-text {
    font-size: 2.5rem; } }

.cs-inline {
  display: inline; }

.shop-container {
  width: 100vw;
  height: 100vh;
  margin-top: 2rem; }

.shop-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.shop-content {
  text-align: center;
  font-size: 2.5rem;
  color: #ea0404; }

.shop-text {
  padding: 0 5%;
  line-height: 2.5;
  letter-spacing: .2rem; }

@media (max-width: 767px) {
  .shop-text {
    line-height: 1.4;
    font-size: 1.8rem; }
  .shop-product {
    padding: 0 15%; } }
