html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body,
*:hover {
    box-sizing: border-box;
    cursor: url('../imgs/red-cursor.png'), auto;
    font-family: mainFont;
}
