#home {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.home-link {
    position: absolute;
    top: 3rem;
    right: 3rem;

    &-text {
        text-decoration: none;
        font-size: 3rem;
        color: $color-red;

        &:hover {
            color: inherit;
            cursor: url();
        }
    }
}

.ghost {
    height: 100%;
    width: 100%;
}

.ghost-img {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    animation: flicker-cont 3s step-end 1s infinite;
    // animation: flicker 1s step-end infinite;
}