@font-face {
    font-family: 'bodyFontLight';
    src: url(../fonts/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'bodyFontMed';
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'headFont';
    src: url(../fonts/PixeloidMono.ttf);
}

//colors
.text-orange {color: $color-orange;}
.text-white {color: $color-white;}
.text-red {color: $color-red;}

//deco
.text-caps {text-transform: uppercase;}

//font size
.text-size-normal {font-size: $fosi-body;}
.text-size-med {font-size: $fosi-head-med;}
.text-size-large {font-size: $fosi-head-large;}
.text-size-mixtape {font-size: 2.5rem;}

//font family
.text-body-light {font-family: 'bodyFontLight';}
.text-body-med {font-family: 'bodyFontMed';}
.text-head {font-family: "headFont";}

//padding
.text-padding-sm {padding-top: .5rem;}
.text-padding-lg {padding-top: 1.2rem;}