@keyframes flicker {
    0% {
        opacity: 100%;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 100%;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes flicker-cont {
    1% {
        opacity: 100%;
    }
    4% {
        opacity: 0;
    }
    6% {
        opacity: 100%;
    }
    8% {
        opacity: 0;
    }
    10% {
        opacity: 100%;
    }
    12% {
        opacity: 0;
    }
    24% {
        opacity: 100%;
    }
}