#coming-soon {
    /// visibility: visible;
    background-color: black;
}

.coming-soon {
    height: 100%;
    width: 100%;
    background-color: black;
    display: none;

    &-password {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &-password-submit {
        // @include btnStyle;
        color: white;
        border-color: white;
        font-size: 1.5rem;
    }

    &-text {
        color: $color-orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 5rem;
        animation: flicker-cont 3s infinite;
    }

    &-container {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    &-marbo {
        margin-bottom: 7rem;
    }

    &-links {
        margin-top: 5rem;
        display: none;
    }
}

@media (max-width: 767px) {
    .coming-soon-links {
        display: none;
    }
    .coming-soon-text {
        font-size: $fosi-200;
    }
}

.cs-inline {
    display: inline;
}