body {
    background-color: black;
}

.coming-soon {
    height: 100%;
    width: 100%;
    background-color: black;
    visibility: hidden;

    &-text {
        color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 5rem;
        animation: flicker-cont 3s infinite;
    }

    &-container {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    &-marbo {
        margin-bottom: 7rem;
    }
}

@media (max-width: 767px) {
    .follow-hide {
        // visibility: hidden;
        display: none;
    }
    .coming-soon-text {
        font-size: $fosi-body;
    }
}