#shop {
    // display: none;
}


.shop {
    &-container {
        width: 100vw;
        height: 100vh;
        margin-top: 2rem;
    }

    &-row {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-content {
        text-align: center;
        font-size: $fosi-body;
        color: $color-red;
    }

    &-text {
        padding: 0 5%;
        line-height: 2.5;
        letter-spacing: .2rem;
    }
}

@media (max-width: 767px) {
    .shop-text {
        line-height: 1.4;
        font-size: 1.8rem;
        // padding-top: 10%;
    }

    .shop-product {
        padding: 0 15%;
    }
}